html {
  font-size: 10px;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* main */
.main {
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.main .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.header {
  min-height: 100vh;
  max-height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: relative;
}

.main-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

/* photo */
.block-photo {
  width: 10rem;
  margin: 0 auto;
  border: 0.2rem solid rgba(255, 255, 255, .8);
  border-radius: 50%;
  padding: 0.2rem;
}

.block-photo img {
  border-radius: 50%;
  width: 100%;
}

/* line */
.line {
  height: 6rem;
  border-right: 0.1rem solid white;
}

/* about me */
.about-me {
  margin: 0 auto;
  max-width: 47rem;
  border-top: 1px solid white;
  border-bottom: 0.1rem solid white;
  padding: 4rem 0;
}

.name {
  text-align: center;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 0.9rem;
  margin-bottom: 2rem;
}

.main-discribe {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  opacity: .7;
  letter-spacing: 0.4rem;
}

/* navigation */
.buttons-center {
  text-align: center;
}

.main-buttons {
  margin: 0 auto;
  text-align: center;
  max-width: 48rem;
  border: 3px solid rgba(255, 255, 255, .8);
  border-radius: 0.5rem;
}

.main-button:focus {
  outline: none;
}

.main-button {
  background: none;
  border: none;
  padding: 0;
  margin: -0.2rem;
  cursor: pointer;
  width: 25%;
  min-height: 5rem;
  border-left: none;
  border-right: none;
  font-size: 1.7rem;
  letter-spacing: 0.6px;
}

.main-button:hover {
  background-color: rgba(255, 255, 255, .1);
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

button:focus,
button span:focus {
  outline: none;
}

/* copyright */
.copyright {
  max-width: 48rem;
  border-top: 0.1rem solid white;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

.copyright-text {
  text-transform: uppercase;
  opacity: .7;
  font-size: 1.2rem;
}

.copyright-text span:hover {
  opacity: 1;
}

.copyright-text span a {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  border-bottom: 0.1rem dashed white;
}

/* models */
.modal {
  padding-left: 0;
}

.modal-dialog {
  max-width: 910px;
  padding: 0 1rem;

}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  min-height: 560px;
}

.modal-header {
  border-bottom: none;
  padding: 1.5rem;
}

.modal-header h5 {
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 0.3rem dashed white;
}

.modal-body {
  padding: 0 2rem 2rem;
}

.close {
  font-size: 3.5rem;
  font-weight: 400;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.modal-footer {
  padding: 0;
}

.close-down:focus {
  outline: none;
}

.modal-footer p {
  text-transform: uppercase;
  opacity: .7;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  padding: 0 1rem;
}



.close-down {
  background: none;
  border: none;
  cursor: pointer;
  border-left: 1px solid rgba(255, 255, 255, .8);
  padding: 1.2rem 4rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .7);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.close-down:hover {
  color: rgba(255, 255, 255, 1);
}

.modal-footer span {
  margin-left: auto;
}

.modal-footer span a {
  text-decoration: none;
  margin-right: 1rem;
}

.modal-footer span a:last-child {
  margin-right: 0;
}

.modal-footer span .fa {
  text-align: center;
  color: rgba(255, 255, 255, .5);
  font-size: 2.3rem;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.modal-footer span .fa:hover {
  color: rgba(255, 255, 255, 1);
}

.modal-footer>:not(:last-child) {
  margin-right: auto;
}

/* Portfolio */
/* Тобовое меню */
.nav-tabs .nav-link {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.nav-tabs a {
  color: white;
  font-size: 2rem;
}

.tab-content {
  padding-top: 2rem;
}

/* карточки проектов */
.list-portfolio h6 {
  display: none;
}

.list-portfolio a {
  overflow: hidden;
  width: 100%;
  min-height: 1rem;
  display: block;
  background-color: #000;
  border-radius: .6rem;
  position: relative;
}

.list-portfolio h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 79%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  z-index: 9999;
  font-size: 1.3rem;
  text-align: center;
}

.list-portfolio a:hover h4 {
  color: rgba(255, 255, 255, 1);
}

.portfolio-item {
  margin-bottom: 2rem;
}

.list-portfolio a img {
  width: 100%;
  border-radius: .5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.list-portfolio a:hover img {
  -webkit-transform: scale(1.1, 1.15);
          transform: scale(1.1, 1.15);
  opacity: .7;
}


/* Аккордион */
.accordion {
  display: none;
}

.accordion h6 {
  display: none;
}

.accordion .card {
  background-color: rgba(0, 0, 0, .3);
  border: .1rem solid rgba(255, 255, 255, .3);
}

.accordion .card .card-header {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.btn-link {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

.btn-link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: none;
}

.accordion .card-header .collapsed {
  color: rgba(255, 255, 255, .7);
}




/* Skills */
/* hello text */
.block-hello-text {
  border: .1rem solid white;
  border-radius: .5rem;
  margin-bottom: 5rem;
  padding: 0 3rem 3rem;
}

.title-hello-text {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: .3rem;
}

.title-hello-text span {
  border-top: .1rem solid white;
  border-bottom: .1rem solid white;
}

.hello-text {
  padding-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}

.hello-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.hello-text-body {
  margin-top: 1rem;
}

.hello-text .position-left {
  text-align: left;
  letter-spacing: .08rem;
  text-shadow: 1px 0;
}

.indent {
  text-indent: 4rem;
}

/* cards */
.space-bottom-cards {
  margin-bottom: 5rem;
}

.title-body {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: -.3rem;
}

.title-body span {
  border-bottom: .1rem solid white;
  line-height: 4rem;
}

.card-container {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
}

/* card-top */
.card-top {
  text-align: center;
  border-bottom: 1px solid white;
  min-height: 13rem;
}

.card-container .card-top h1 {
  color: rgba(255, 255, 255, .5);
  letter-spacing: .2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-container:hover .card-top h1 {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 2px;
}

.card-container .card-top p {
  font-size: 4rem;
  color: rgba(255, 255, 255, .5);
  font-weight: 700;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 0;
  margin: 0;
}

.card-container:hover .card-top p {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 1px;
}

/* card-center */
.card-center {
  margin-top: 1rem;
}

.card-center .card-center-flex-height {
  font-size: 2rem;
}

.card-center ul li {
  font-size: 1.7rem;
  letter-spacing: 0.015rem;
}

.card-container:hover .card-bottom .order-btn {
  color: white;

}

/* extra skills */
.extra-skills {
  text-align: center;
}

.space-bottom {
  margin-bottom: 2rem;
}

.extra-container {
  border: .1rem solid white;
  border-radius: 1rem;
  padding-top: 1rem;
}

.extra-skills .extra-container .fa {
  font-size: 10rem;
  color: rgba(255, 255, 255, .7);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.extra-container:hover .fa {
  color: rgba(255, 255, 255, 1);
}

.extra-content {
  min-height: 8rem;
  margin-top: 1rem;
}

.extra-content-title {
  min-height: 4rem;
}

.extra-content h3 {
  font-weight: 700;
  color: rgba(255, 255, 255, .7);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.extra-container:hover h3 {
  color: rgba(255, 255, 255, 1);
}

.extra-content p {
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.extra-container:hover p {
  color: rgba(255, 255, 255, 1);
}

/* modal resume */
/* resume header */
.resume-header {
  text-align: center;
  border-bottom: 1px solid white;
}

.resume-photo {
  margin-bottom: 1rem;
}

.resume-photo img {
  width: 15rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 .5rem rgba(255, 255, 255, .4);
          box-shadow: 0 0 .5rem rgba(255, 255, 255, .4);
}

.resume-header h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.resume-header h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.resume-body {
  padding-top: 1rem;
}

.resume-body h1 {
  text-align: center;
}

.card-resume-header {
  min-height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  border-bottom: .1rem solid white;
}


.card-resume-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-resume-body-text {
  margin-left: 2rem;
}

.card-resume-body-text {
  font-size: 1.5rem;
}

.keys-skills-wrap {
  text-align: center;
  padding: 0;
}

.keys-skills-item {
  font-size: 1.5rem;
  margin-bottom: 0;
  border: .1rem solid white;
  border-radius: .5rem;
}

/* modal contact */
.contacts-form label {
  text-transform: uppercase;
  opacity: .8;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.3rem;
}

.contacts-form input {
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  opacity: .8;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border: 0.2rem solid rgba(255, 255, 255, .5);
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.contacts-form input:focus {
  outline: none;
  border: 0.2rem solid rgba(255, 255, 255, 1);
}

.col-message {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.contact-message {
  width: 100%;
  resize: none;
  height: 200px;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  opacity: .8;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border: 0.2rem solid rgba(255, 255, 255, .5);
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.contact-message:focus {
  outline: none;
  border: 0.2rem solid rgba(255, 255, 255, 1);
}

.send-message {
  border-radius: 1rem;
  padding: 1.3rem 1.5rem;
  opacity: .8;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border: 0.2rem solid rgba(255, 255, 255, .5);
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  cursor: pointer;
}

.send-message:focus {
  outline: none;
}

.send-message:hover {
  opacity: 1;
  border: 0.2rem solid rgba(255, 255, 255, 1);
}



/* media */
@media screen and (max-width:991px) {
  .slills-card {
    margin-bottom: 2rem;
  }

  .card-bottom .order-btn {
    width: 50%;
  }
}

@media screen and (max-width:767px) {
  .extra-line .line {
    border-right: none;
  }

  .card-resume {
    border-bottom: 1px solid white;
    padding-bottom: 3rem;
  }

  .accordion h4 {
    display: none;
  }

  .list-portfolio h6 {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 79%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
    z-index: 9999;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;
  }
}

@media screen and (max-width:575px) {
  html {
    font-size: 9px;
  }

  .col-email {
    padding-top: 1.3rem;
  }

  .main-button {
    width: 50%;
  }

  .extra-line .line {
    border-right: 0.1rem solid white;
  }

  .accordion {
    display: block;
  }

  #portfolio .modal-body .nav {
    display: none;
  }

  .tab-content>.active {
    display: none;
  }

  .accordion h6 {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 79%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
    z-index: 9999;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;
  }

}

@media screen and (max-width:359px) {
  html {
    font-size: 8px;
  }

  .close-down {
    padding: 1.2rem 2rem;
  }
}